.bg-color {
  background-color: #121212;
}

.heading-content {
  font-family: "Fascinate", cursive;
}

.blinking {
  animation: blinkingText 1.5s infinite;
  font-size: 23px;
}

@keyframes blinkingText {
  0% {
    color: #fff;
  }
  50% {
    color: transparent;
  }
  100% {
    color: #fff;
  }
}

.search-content {
  background-image: linear-gradient(
    45deg,
    rgb(153, 51, 255) 0%,
    rgb(255, 102, 102) 50%,
    rgb(153, 51, 255) 100%
  );

  background-size: 200%;
}

.pointer {
  cursor: pointer;
}